<ion-content [fullscreen]="true" >
  <ion-card class="contenido">
  <ion-button fill="outline" (click)="encender()" [color]="colorBoton1I(clBtn1I)">
    

  </ion-button>
  
  <ion-button fill="outline" (click)="apagar()" [color]="colorBoton1D(clBtn1D)">
    APAGAR
   
  </ion-button>
</ion-card>



<ion-card class="contenido">
  <ion-button fill="outline" (click)="encender2()" [color]="colorBoton2I(clBtn2I)" >
    
    ENCENDER
  </ion-button>
  
  <ion-button fill="outline" (click)="apagar2()" [color]="colorBoton2D(clBtn2D)">
    APAGAR
   
  </ion-button>
</ion-card>



<ion-card class="contenido">
  <ion-button fill="outline" (click)="encender3()"  [color]="colorBoton3I(clBtn3I)">
   
    ENCENDER
  </ion-button>
  
  <ion-button fill="outline" (click)="apagar3()" [color]="colorBoton2D(clBtn3D)">
    APAGAR
  
  </ion-button>
</ion-card>

<ion-card class="contenido">
  <ion-button fill="outline" (click)="encenderAll()" [color]="colorBotonAllI(clBtnAllI)">
   
    ENCENDER ALL
  </ion-button>
  
  <ion-button fill="outline" (click)="apagarAll()" [color]="colorBotonAllD(clBtnAllD)">
    APAGAR ALL

  </ion-button>
</ion-card>
</ion-content>
